Repository sseuda/sseuda, pull requests merged in 2025-07, with the labels that each got.

#85 feat: weather
  sseuda-react/src/pages/Main.js
  sseuda-react/src/pages/Main.module.css
Labels: feature✨, css🎨

#86 css/post
  sseuda-react/src/components/common/post/MainPost.js
  sseuda-react/src/pages/post/PostDetail.js
  sseuda-react/src/pages/post/css/PostDetail.module.css
Labels: css🎨

#87 Fix/date
  sseuda-react/src/components/common/comment/Comment.js
  sseuda-react/src/pages/post/PostDetail.js
  sseuda_server/src/main/resources/sql/sseuda_build_script.sql
Labels: bug🐞, refactor♻️

#89 Css/main post
  sseuda-react/src/components/common/post/MainPost.js
  sseuda-react/src/components/common/post/SearchPost.js
  sseuda-react/src/components/common/post/css/MainPost.module.css
  sseuda-react/src/components/weather/Weather.module.css
  sseuda-react/src/components/weather/WeatherComponent.js
  sseuda-react/src/pages/Main.js
  sseuda-react/src/pages/Main.module.css
Labels: css🎨
